# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
intellij-community/

# Eclipse
.settings/
.project
.classpath
bin/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.cache/

# VS Code
.vscode/

# OS
Thumbs.db

# TAlgorithm Docker volumes
TAlgorithm/volumes/
TAlgorithm/Neo4j/volumes/
TAlgorithm/milvus-standalone/volumes/
TAlgorithm/*/volumes/